* {
    font-family: Montserrat, sans-serif;
    text-align: center;
    transition: 0.3s;
}

@font-face {
    font-family: Montserrat;
    src: url('Montserrat-Regular-8.otf');
}

.container {
    margin: 0 auto;
    width: 600px;
    height: 600px;
    position: relative;
    user-select: none;
}

.a-1, .a-2, .a-3, .a-4 {
    position: absolute;
    width: 150px !important;
    height: 150px !important;
    font-size: 90px;
    text-align: center;
    color: white;
    background-color: black;
    font-weight: bold;
    border-radius: 25px;
    line-height: 1.5;
}

.a-1 {
    top: 0;
}

.a-2 {
    top: 150px;
}

.a-3 {
    top: 300px;
}

.a-4 {
    top: 450px;
}

.b-1 {
    left: 0;
}

.b-2 {
    left: 150px;
}

.b-3 {
    left: 300px;
}

.b-4 {
    left: 450px;
}

.c-up, .c-down {
    width: 150px;
    height: 30px;
    position: absolute;
    transition: 0.6s;
    z-index: 80;
}

.c-left, .c-right {
    width: 30px;
    height: 150px;
    position: absolute;
    transition: 0.6s;
    z-index: 80;
}

.visible {
    background-color: gray;
    transition: 0.6s;
}

.c-up-1 {
    top: 0;
    left: 0;
}

.c-up-2 {
    top: 0;
    left: 150px;
}

.c-up-3 {
    top: 0;
    left: 300px;
}

.c-up-4 {
    top: 0;
    left: 450px;
}

.c-down-1 {
    top: 570px;
    left: 0;
}

.c-down-2 {
    top: 570px;
    left: 150px;
}

.c-down-3 {
    top: 570px;
    left: 300px;
}

.c-down-4 {
    top: 570px;
    left: 450px;
}

.c-left-1 {
    top: 0;
    left: 0;
}

.c-left-2 {
    top: 150px;
    left: 0;
}

.c-left-3 {
    top: 300px;
    left: 0;
}

.c-left-4 {
    top: 450px;
    left: 0;
}

.c-right-1 {
    top: 0;
    left: 570px;
}

.c-right-2 {
    top: 150px;
    left: 570px;
}

.c-right-3 {
    top: 300px;
    left: 570px;
}

.c-right-4 {
    top: 450px;
    left: 570px;
}

.scorediv, .nxt, .bes {
    display: inline-block;
    margin: 0 20px;
}

#score, #tle, #bet {
    font-size: 30pt;
}

.ntc {
    z-index: 99;
    position: absolute;
    width: 600px;
    height: 600px;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0;
    top: 0;
    left: 0;
    transition: 0.9s;
    text-align: center;
    visibility: hidden;
}

#itx {
    font-size: 70pt;
}

button {
    background-color: black;
    font-size: 40pt;
    color: white;
    border: none;
    outline: none;
}

button:hover {
    background-color: gainsboro;
    color: black;
    cursor: pointer;
}

.lit {
    opacity: 0.7;
}

footer {
    background-color: #eee;
    min-height: 300px;
}

@media screen and (max-width:600px) {
    .container {
        transform: scale(calc(2 / 3), calc(2 / 3)) translate(-100px, -100px);
    }
    button {
        font-size: 30pt;
    }
}

.gld {
    background-color: rgba(247, 247, 60, 0.7);
}